# Apache 2.4 configuration file for eLearning 1.6

# Begin
<IfModule mod_rewrite.c>
# Options
Options All -Indexes
Options -MultiViews

# Exclude uploads directory from rewrite rules
RewriteCond %{REQUEST_URI} !^/uploads/.*$
# RewriteEngine
RewriteEngine On
RewriteBase /
RewriteRule . index.php

# Conditions/Rules
RewriteCond %{REQUEST_METHOD} (.+)

</IfModule>
# End

# Enviroment variables
SetEnv APP_ENV development
SetEnv DB_HOST localhost
SetEnv DB_USER backend_user
SetEnv DB_PASS KgBsyo4wQJqu3X
SetEnv DB_NAME elearning_16
SetEnv JWT_KEY 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
SetEnv HOST http://localhost/
