# Apache 2.4 configuration file for eLearning 1.6

# Options
Options All -Indexes
Options -MultiViews

# RewriteEngine
RewriteEngine On
RewriteRule . index.php

# Enviroment variables
SetEnv DB_HOST localhost
SetEnv DB_USER backend_user
SetEnv DB_PASS KgBsyo4wQJqu3X
SetEnv DB_NAME elearning_16
SetEnv JWT_KEY 6f6c6c6568616d5f6b6579